:root {
  --text-font: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --mono-font: ui-monospace, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  --background-color: #ffffff;
  --text-color: #24292F;
  --link-color: #0769DA;
  --link-visited-color: #5d9acf;
  --code-box-color: #EFF1F2;
  --line-color: #D0D7DE;
  --gray-text-color: #57606A;
  
  --1md: 4px;
  --2md: 8px;
  --3md: 12px;
  --4md: 16px;
  --5md: 20px;
  --6md: 24px;
  --7md: 28px;
  --8md: 32px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #23292F;
    --text-color: #E0E4E8;
    --link-color: #93CCFF;
    --link-visited-color: #AB70C5;
    --code-box-color: #2A3037;
    --line-color: #4B4B4B;
}
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--text-font);
  font-size: 17px;
  line-height: 1.42;
  font-weight: normal;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: var(--7md) auto;
  max-width: 680px;
}

@media screen and (max-width: 740px) {
  body {
    margin: 6% 4%;
  }
}

h1 {
 margin-bottom: var(--4md);
 font-size: 28px;
 line-height: 1.2;
}

@media screen and (max-width: 740px) {
  h1 {
    font-size: 26px;
    margin-bottom: var(--3md);
   }
}

h2 {
 font-size: 22px;
 line-height: 1.2;
}

h3 {
 font-size: 18px;
 line-height: 1.2;
}

h2, h3, h4, h5, h6, 
blockquote, pre, ul, ol, dl, figure {
  margin-top: var(--6md);
  margin-bottom: var(--2md);
}

p {
 margin-bottom: var(--4md); 
}

li,
li > ul,
li > ol {
  margin: var(--1md) 0;
}

ol, ul {
  margin: var(--1md) 0 var(--5md) 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

img {
  max-width: 100%;
  margin: var(--3md) 0;
}

hr {
margin: var(--6md) 0;
height: 2px;
border: 0;
background-color: var(--line-color);
}

pre {
  background-color: var(--code-box-color);
  padding: var(--3md);
  font-size: 14px;
  border-radius: var(--1md);
  margin: var(--1md) 0 var(--4md);
  white-space: pre-wrap;
}

p > code {
 background-color: var(--code-box-color);
  padding: var(--1md);
  font-size: 15px;
  border-radius: var(--1md); 
}

tt, code, pre {
  font-family: var(--mono-font);
}

blockquote {
  border-left: 4px solid var(--line-color);
  padding-left: var(--3md);
  margin-top: var(--2md);
  color: var(--gray-text-color)
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  text-decoration: underline;
}

header {
  margin-bottom: var(--3md);
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}


li .nav-item {
  color: var(--gray-text-color);
  margin-right: var(--3md);
}

footer {
  color: var(--gray-text-color);
  font-size: 15px;
  margin-top: var(--7md);
}
