<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title • Вики Тимура Суграрина }}</title>
    <meta name="description" content="Personal knowledge base">
    <link rel="stylesheet" href="/wiki/assets/main.css">
  </head>
  
  <header>
    <nav>
      <ul class="navigation">
        <li><a class="nav-item" href="/">Home</a></li>
        <li><a class="nav-item" href="/contents.md">Contents</a></li>
      </ul>
    </nav>
  </header>
  
  <body>
    {{ content }}
  </body>
  
  <footer>
    <p>Knowledge on <a href="https://github.com/sugrarin/knowledge">GitHub</a>, 2022</p>
  </footer>
</html>
